<!DOCTYPE html>
{% extends 'inst/base.html' %}
{% block body_block %}
<h1>Available Jobs</h1>

<form class="form-inline" method="post" style="..." >
    {% csrf_token %}
  {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="filter">
 </form>
<div class="container">
<div class="row">
    {%for item in jobs%}
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">

      <div class="card-body">
      <h5 class="card-title">{{item.job}}</h5>
      <p class="card-text">Skill:{{item.skills}} </p>
<!--      <a href="{%url 'job' %}" class="btn btn-danger">BACK</a>-->
<!--        <a href="{%url 'apply' %}" class="btn btn-danger">APPLY</a>-->
      </div>
</div>

</div>
    {% endfor %}

   </div>
</div>





{% endblock %}