<!DOCTYPE html>
{% extends 'trainer/base.html' %}
{% block body_block %}
<h1>PROFILES</h1>

<form method="post"  >
    {% csrf_token %}

<div class="container">
<div class="row">
    {%for item in profiles%}
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
    <img src="{{item.photo.url}}" class="card-img-top" alt="..."  width="50" height="200" >
      <div class="card-body">
      <h5 class="card-title">{{item.user}}</h5>
      <p class="card-text">{{item.qualification}} </p>
      <a href="{%url 'prof' %}" class="btn btn-danger">BACK</a>
          <a href="{%url 'del' item.id %}" class="btn btn-danger">DELETE</a>
      </div>
</div>

</div>
    {% endfor %}

   </div>
</div>


</form>


{% endblock %}